<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:background="@color/blanco">
    <ImageView
        android:id="@+id/imglogo"
        android:layout_centerInParent="true"
        android:contentDescription="@string/Limpio"
        android:scaleType="fitXY"
        android:adjustViewBounds="true"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:gravity="center"
        android:src="@drawable/acercadev" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_alignParentTop="true"
        android:orientation="vertical">
        <TextView
            android:layout_alignParentTop="true"
            android:id="@+id/titulo"
            android:textStyle="bold"
            android:textSize="20sp"
            android:layout_marginBottom="15dip"
            android:layout_width="match_parent"
            android:layout_height="30dp"
            android:gravity="center"
            android:textColor="@color/negro"
            android:text="@string/ApplicationNameVersion" />
        <ScrollView
            android:layout_height="0dp"
            android:layout_width="match_parent"
            android:layout_weight="1"
            android:layout_below="@+id/titulo"
            android:id="@+id/scroll"
            android:orientation="vertical">
            <TextView
                android:layout_margin="5dp"
                android:id="@+id/mensaje"
                android:textStyle="bold"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/negro"
                android:text="@string/version" />
        </ScrollView>
        <Button
            android:layout_alignParentBottom="true"
            android:id="@+id/btnAceptar"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:gravity="center"
            android:text="@string/Aceptar"
            android:textColor="@color/negro"
            android:layout_below="@+id/scroll"
            android:background="?android:attr/selectableItemBackground" />
    </LinearLayout>
</RelativeLayout>