<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
      <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
<!-- The main content view -->
  <TextView
      android:text="@string/imprimir"
      android:id="@+id/txtTitulo"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:gravity="center"
      android:layout_marginTop="20dip"
      android:layout_marginBottom="20dip" />
  <CheckBox
      android:id="@+id/chkOriginal"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:text="@string/original"
      android:layout_marginLeft="20dip" />
  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:orientation="horizontal">
    <CheckBox
        android:layout_width="0dip"
        android:id="@+id/chkCopias"
        android:layout_height="wrap_content"
        android:layout_weight=".40"
        android:text="@string/copia"
        android:layout_marginLeft="20dip" />
    <EditText
        android:hint="@string/cantidadcopias"
        android:id="@+id/txtCopias"
        android:layout_width="0dip"
        android:layout_height="wrap_content"
        android:layout_weight=".50"
        android:gravity="left"
        android:inputType="number"
        android:layout_marginRight="20dip" />
  </LinearLayout>
  <LinearLayout
      android:layout_width="match_parent"
      android:layout_height="0dp"
      android:orientation="horizontal"
      android:layout_gravity="center"
      android:layout_weight="0.1"
      android:gravity="bottom">
    <Button
        android:id="@+id/btnImprimir"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
         android:background="@android:drawable/btn_default"
         android:text="@string/imprimir" />
  </LinearLayout>
</LinearLayout>