<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:id="@+id/drawer_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
<!-- The main content view -->
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <include
            android:id="@+id/toolbar"
            layout="@layout/toolbar" />
        <FrameLayout
            android:id="@+id/content_frame"
            android:layout_below="@id/toolbar"
            android:layout_width="match_parent"
            android:layout_height="match_parent" />
    </RelativeLayout>
<!-- The navigation drawer -->
    <ListView
        android:id="@+id/left_drawer"
        android:divider="@android:color/black"
        android:dividerHeight="0dp"
        android:choiceMode="singleChoice"
        android:layout_width="@dimen/drawer_width"
        android:layout_height="match_parent"
        android:layout_gravity="start"
        android:background="#EAEAEA" />
</android.support.v4.widget.DrawerLayout>