<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
  <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
		android:paddingTop="25dp"
		android:paddingRight="15dp"
		android:paddingLeft="15dp"
        android:layout_centerInParent="true">
    <TextView
     android:id="@+id/label1"
		android:layout_width="wrap_content"
		android:layout_height="match_parent"
		android:layout_alignParentLeft="true"
		android:textStyle="bold"
		android:gravity="left"
     android:text="@string/compania"/>
    <Spinner
        android:id="@+id/cmbCompania"
		android:layout_width="wrap_content"
		android:layout_height="wrap_content"
		android:layout_alignParentRight="true"
		android:layout_centerHorizontal="true"
		android:gravity="right"
		android:spinnerMode="dialog"
        android:prompt="@string/companiaDefault"/>
  </RelativeLayout>
  <RelativeLayout
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:paddingBottom="25dp"
		android:paddingRight="15dp"
		android:paddingLeft="15dp"
      android:layout_alignParentBottom="true">
    <Button
        android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_alignParentTop="true"
      android:text="@string/sincDatos"
      android:id="@+id/btnDatos"
      android:background="@android:drawable/btn_default"/>
    <Button
      android:layout_width="match_parent"
      android:layout_below="@+id/btnDatos"
      android:layout_height="wrap_content"
      android:text="@string/sincDatosParcialBT"
      android:id="@+id/btnDatosParcial"
      android:background="@android:drawable/btn_default"/>
    <Button
      android:layout_width="match_parent"
      android:layout_below="@+id/btnDatosParcial"
      android:layout_height="wrap_content"
      android:text="@string/sincImagenes"
      android:id="@+id/btnImagenes"
      android:background="@android:drawable/btn_default"/>
  </RelativeLayout>
</RelativeLayout>