<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
<!-- The main content view -->
    <RelativeLayout
        android:paddingTop="5dp"
        android:layout_below="@id/toolbar"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/lyPrincipal">
		<RelativeLayout
            android:layout_width="match_parent"
            android:id="@+id/r0"
            android:layout_height="36dp"
            android:orientation="horizontal"
            android:gravity="right">
            <TextView
				android:id="@+id/lblActividadComercial"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/actividadComercial" />
            <TextView
                android:id="@+id/txtActividadComercial"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp"
                android:textColor="@color/material_anaranjado" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:id="@+id/r1"
			android:layout_below="@id/r0"
            android:layout_alignParentLeft="true"
            android:gravity="right"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/fecha"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingRight="5dp"
                android:paddingLeft="5dp"
                android:text="@string/fecha" />
            <TextView
                android:id="@+id/txtFechaRealizacion"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:gravity="left"
                android:layout_toRightOf="@+id/fecha" />
            <TextView
                android:id="@+id/txtHoraLb"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:gravity="right"
                android:layout_toLeftOf="@+id/txtHoraInicio"
                android:textStyle="bold"
                android:text="@string/hora" />
            <TextView
                android:id="@+id/txtHoraInicio"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp"
                android:gravity="right"
                android:paddingLeft="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:id="@+id/r2"
            android:layout_below="@id/r1"
            android:layout_height="36dp"
            android:orientation="horizontal"
            android:gravity="right">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/entrega" />
            <TextView
                android:id="@+id/txtFechaEntrega"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp"
                android:textColor="@color/material_anaranjado" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:id="@+id/rConsec"
            android:layout_below="@id/r2"
            android:layout_height="36dp"
            android:orientation="horizontal"
            android:gravity="right">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/consecutivo" />
            <Spinner
                android:id="@+id/cmbConsecutivo"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentRight="true"
                android:layout_centerHorizontal="true"
                android:gravity="right"
                android:paddingRight="5dp"
                android:spinnerMode="dialog"
                android:prompt="@string/consecutivoDefault" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:id="@+id/r3"
            android:layout_below="@id/rConsec"
            android:orientation="horizontal">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/subtotal" />
            <TextView
                android:id="@+id/txtTotalBruto"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:id="@+id/r4"
            android:layout_below="@id/r3"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/descuento" />
            <TextView
                android:id="@+id/txtDescuento"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:id="@+id/rdv"
            android:layout_below="@id/r4"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/descuentovolumen" />
            <TextView
                android:id="@+id/txtDescuentoVol"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:id="@+id/r5"
            android:layout_below="@id/rdv"
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/lblPorcDescuento1"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:paddingRight="5dp"
                android:text="@string/descuento_a" />
            <EditText
                android:id="@+id/txtPorcDescuento1"
                android:enabled="false"
                android:selectAllOnFocus="true"
                android:layout_width="100dp"
                android:gravity="center"
                android:layout_toRightOf="@+id/lblPorcDescuento1"
                android:inputType="number"
                android:layout_height="match_parent" />
            <TextView
                android:id="@+id/txtDescuento1tx"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:id="@+id/r6"
            android:layout_below="@id/r5"
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/lblPorcDescuento2"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:paddingRight="5dp"
                android:text="@string/descuento_b" />
            <EditText
                android:id="@+id/txtPorcDescuento2"
                android:selectAllOnFocus="true"
                android:layout_width="100dp"
                android:gravity="center"
                android:layout_toRightOf="@+id/lblPorcDescuento2"
                android:inputType="number"
                android:layout_height="match_parent" />
            <TextView
                android:id="@+id/txtDescuento2tx"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:id="@+id/r7"
            android:layout_below="@id/r6"
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/txtLabelImpuesto1"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp" />
            <TextView
                android:id="@+id/txtImpuestoVentas"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:id="@+id/r8"
            android:layout_below="@id/r7"
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:id="@+id/txtLabelImpuesto2"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp" />
            <TextView
                android:id="@+id/txtConsumo"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
        <RelativeLayout
            android:id="@+id/r10"
            android:layout_below="@id/r8"
            android:layout_width="match_parent"
            android:layout_height="36dp"
            android:orientation="horizontal">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_alignParentLeft="true"
                android:textStyle="bold"
                android:gravity="left"
                android:paddingLeft="5dp"
                android:text="@string/total" />
            <TextView
                android:id="@+id/txtTotalNeto"
                android:gravity="right"
                android:layout_alignParentRight="true"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:paddingRight="5dp" />
        </RelativeLayout>
    </RelativeLayout>
</RelativeLayout>